package org.jdbdt;

/**
 * Version info.
 * 
 * @since 0.1
 */
final class VersionInfo {
  /**
   * Version Id.
   */
  static final String ID = "@jdbdt.version@";
  
  /**
   * Private constructor to avoid instantiation.
   */
  private VersionInfo() { }
}

