package org.jdbdt;

/**
 * Version info.
 * 
 * @since 0.1
 */
final class VersionInfo {
  /**
   * Version Id.
   */
  public static final String ID = "@jdbdt.version@x";
  
  /**
   * Private constructor to avoid instantiation.
   */
  private VersionInfo() { }
}

